<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FrameTrapped.Input.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FrameTrapped.Input.Properties.Settings>
            <setting name="P1_Up" serializeAs="String">
                <value> UP</value>
            </setting>
            <setting name="P1_Down" serializeAs="String">
                <value>DOWN</value>
            </setting>
            <setting name="P1_Left" serializeAs="String">
                <value>LEFT</value>
            </setting>
            <setting name="P1_Right" serializeAs="String">
                <value>RIGHT</value>
            </setting>
            <setting name="P1_LightPunch" serializeAs="String">
                <value>VK_9</value>
            </setting>
            <setting name="P1_MediumPunch" serializeAs="String">
                <value>VK_0</value>
            </setting>
            <setting name="P1_HardPunch" serializeAs="String">
                <value>OEM_MINUS</value>
            </setting>
            <setting name="P1_LightKick" serializeAs="String">
                <value>VK_O</value>
            </setting>
            <setting name="P1_MediumKick" serializeAs="String">
                <value>VK_P</value>
            </setting>
            <setting name="P1_HardKick" serializeAs="String">
                <value>OEM_4</value>
            </setting>
            <setting name="P2_Up" serializeAs="String">
                <value>VK_F</value>
            </setting>
            <setting name="P2_Down" serializeAs="String">
                <value>VK_V</value>
            </setting>
            <setting name="P2_Left" serializeAs="String">
                <value>VK_C</value>
            </setting>
            <setting name="P2_Right" serializeAs="String">
                <value>VK_B</value>
            </setting>
            <setting name="P2_LightPunch" serializeAs="String">
                <value>VK_1</value>
            </setting>
            <setting name="P2_MediumPunch" serializeAs="String">
                <value>VK_2</value>
            </setting>
            <setting name="P2_HardPunch" serializeAs="String">
                <value>VK_3</value>
            </setting>
            <setting name="P2_LightKick" serializeAs="String">
                <value>VK_Q</value>
            </setting>
            <setting name="P2_MediumKick" serializeAs="String">
                <value>VK_W</value>
            </setting>
            <setting name="P2_HardKick" serializeAs="String">
                <value>VK_E</value>
            </setting>
        </FrameTrapped.Input.Properties.Settings>
    </userSettings>
</configuration>